<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/info', user: current_user %>
      <%= render 'books/form', book_new: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1 ml-auto">
      <h2>Group Detail</h2>
      <table class="table">
        <thead>
          <tr>
            <th colspan></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @group.get_image,size: '80x80' %></td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td>
              <% @group.users.each do |user| %>
               <%= user.name %></br>
              <% end %>
            </td>
            <% if @group.owner_id == current_user.id %>
             <td><%= link_to 'Edit', edit_group_path(@group),class: 'btn btn-success btn-sm' %></td>
             <td><%= link_to 'Leave this group', group_path(@group), method: :delete,class: 'btn btn-danger btn-sm' %></td>
             <td><%= link_to 'Notice an Event', @group, class: 'btn btn-info btn-sm' %></td>
            <% end %>
             
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>