<div class="container">
  <%= render 'layouts/error', book_new: @book_new %>
  <div class="row pt-3 pb-5">
    <div class="col-md-3">
      <%= render 'books/info',user: current_user %>
      <%= render 'books/form',book_new: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1 ml-auto">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image,size: '80x80' %></td>
            <td><%= user.name %></td>
            <td>フォロー数: <%= user.followings.count %></td>
            <td>フォロワー数: <%= user.followers.count %></td>
            <td><%= render 'relationships/btn', user: user %></td>
            <td><%= link_to 'Show', user %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
