<div class="container">
  <div class="row pt-3 pb-5">
    <div class="col-md-3">
      <%= render 'books/info', user: @user %>
      <%= render 'books/form', book_new: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1 ml-auto">
     <%= render 'mylist', books: @books %>
     <%= render 'comparison', today_book: @today_book,yesterday_book: @yesterday_book, this_week_book: @this_week_book, last_week_book: @last_week_book %>
     <%= render 'graph', this_week_book_counts: @this_week_book_counts %>
     <%= form_with url: user_search_path(@user), local: false, method: :get do |f| %>
        <%= f.date_field :created_at %>　
        <%= f.submit '検索', class: 'btn btn-primary'  %>
      <% end %>
      
      <div id="search_result"> 
        <% if @search_book.present? %>
          <%= render 'search', search_book: @search_book %>　
      <% end %>
      </div>
    </div>
  </div>
</div>

