<div class="container">
  <div class="row pt-3 pb-5">
    <div class="col-md-3">
      <%= render 'info',user: @book.user %>
      <%= render 'form', book_new: @book_new %> 
    </div>
    <div class="col-md-8 offset-md-1 ml-auto">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image,size: '100x100' %><br>
              <%=link_to @book.user.name, @book.user  %>
            </td>
            <td><%= link_to @book.title, @book %></td>
            <td><%= @book.body %></td>
            <td id="favorite_button<%= @book.id %>">
              <%= render 'favorites/favorite', book: @book %>
            </td>
            <td id="comments-counter"><%= render 'book_comments/counter', book: @book %></td>
            <% if @book.user == current_user %>
              <td><%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-success btn-sm' %></td>
              <td><%= link_to 'Destroy', book_path,method: :delete, class: 'btn btn-danger btn-sm' %></td>
            <% end %>
             <td>閲覧数: <%= @book.view_counts.count %></td>
          </tr>
        </tbody>
      </table>
      <div id="comments-index">
       <%= render 'book_comments/index', book: @book %>
      </div>
      <%= render 'book_comments/form', book: @book, book_comment_new: @book_comment_new %>
    </div>
  </div>
</div>